Options +FollowSymLinks -MultiViews
RewriteEngine On

# Redirect /index.html or /index to root /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /index(.html)? HTTP/
RewriteRule ^index(.html)?$ https://brickscapeslandscaping.com/ [R=301,L]

# Redirect xxx.html to clean URL /xxx
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /([^/]+).html HTTP/
RewriteRule ^([^/]+).html$ https://brickscapeslandscaping.com/$1 [R=301,L]

# Internally rewrite clean URL to .html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^.]+)$ $1.html [NC,L]
